<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <id>nexus</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
        <id>nexus-snapshot</id>
        <username>admin</username>
        <password>admin123</password>
    </server>
    <server>
        <id>nexus-releases</id>
        <username>admin</username>
        <password>admin123</password>
    </server>        
  </servers>
  <profiles>
      <profile>
        <id>nexus</id>
        <properties>
          <altSnapshotDeploymentRepository>nexus::default::http://sonatype-nexus-service:8081/repository/maven-snapshots</altSnapshotDeploymentRepository>
          <altReleaseDeploymentRepository>nexus::default::http://sonatype-nexus-service:8081/repository/maven-releases</altReleaseDeploymentRepository>
        </properties>
        <repositories>
            <repository>
              <id>public</id>
              <url>http://sonatype-nexus-service:8081/repository/maven-public/</url>
            </repository>
            <repository>
              <id>redhat-ga</id>
              <url>http://sonatype-nexus-service:8081/repository/redhat-ga/</url>
            </repository>
        </repositories>
        <pluginRepositories>
          <pluginRepository>
              <id>public</id>
              <url>http://sonatype-nexus-service:8081/repository/maven-public/</url>
          </pluginRepository>
        </pluginRepositories>
      </profile>    
  </profiles>
  <pluginGroups>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>
